$primary-font: url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf); //Montserrat 400
$secondary-font: url(../../assets/fonts/Inter/Inter-Regular.ttf); //Inter 400

// colors

$primary-color: #FFC000;
$black-color: #0D0D0D;
$white-color: #FFF;
$bgc-white: #F2F3F7;
$bgc2-white: #FAFAFA;
$blue-color: #0F0D2B, #0C0926;
$black333-color: #333;
$dark-color: black;