@use "../global";
@use "../utils/helpers";
@use "../utils/variables" as var;

.title {
  color: #000;
  text-align: center;
  font-family: Montserrat700;
  font-size: 34px;
  line-height: 140%;
  letter-spacing: 0.25px;
  padding: 65px 0px 25px;
  @media (max-width: 300px) {
    font-size: 25px;
    line-height: 30px;
  }
}
// main start
// about start
.about {
  padding-top: 100px;
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1100px) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__title {
    max-width: 557px;
    color: #000;
    font-family: Montserrat700;
    font-size: 24px;
    line-height: 140%;
  }
  &__text {
    max-width: 557px;
    color: #000;
    font-family: Montserrat400;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.25px;
  }
  &__img {
    max-width: 480px;
    @media (max-width: 630px) {
      width: 100%;
    }
  }
}

// adv start
.adv {
  &__top {
    @extend %flex-between;
    padding-bottom: 294px;
    @media (max-width: 1070px) {
      & {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
      }
    }
  }
  &__card {
    padding: 40px 80px 10px;
    @extend %flex-mobile-center;
    gap: 45px;
    @media (max-width: 400px) {
      & {
        padding: 10px 20px;
      }
    }
  }
  &__icon {
    color: var.$black-color;
    font-size: 24px;
  }
  &__h3 {
    color: #000;
    font-family: Montserrat400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.44px;
    @media (max-width: 400px) {
      text-align: center;
    }
  }
  &__info {
    background: #0c0926;
    padding: 40px 0px 56px;
  }
  &__center {
    @extend %flex-between;
    gap: 60px;
    @media (max-width: 890px) {
      & {
        flex-direction: column;
        justify-content: flex-start;
      }
    }
    &__img {
      margin-top: -18%;
      @media (max-width: 400px) {
        width: 100%;
        margin-top: -35%;
      }
    }
    &__title {
      max-width: 753px;
      color: var(--White, #fff);
      font-family: Montserrat700;
      font-size: 34px;
      line-height: 140%;
      letter-spacing: 0.25px;
      margin-bottom: 24px;
    }
    &__text {
      max-width: 738px;
      color: var(--White, #fff);
      font-family: Montserrat400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.44px;
      margin-bottom: 40px;
    }
  }
  &__images {
    display: flex;
    align-items: center;
    gap: 30px;
    @media (max-width: 400px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    &__img {
      max-width: 165px;
    }
  }
}

// world start
.world {
  padding: 152px 150px 60px 0px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 730px) {
    padding: 0;
  }
  @media (max-width: 1350px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__right {
    @media (max-width: 1350px) {
      padding: 0px 20px;
    }
  }
  &__title {
    max-width: 460px;
    margin-bottom: 65px;
    color: #000;
    font-family: Inter900;
    font-size: 46px;
    line-height: 64px;
  }
  &__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 128px;
    row-gap: 36px;
    @media (max-width: 480px) {
      gap: 20px;
    }
    @media (max-width: 400px) {
      grid-template-columns: 1fr;
    }
  }
  &__card {
    &__title {
      color: #000;
      font-family: Inter700;
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 8px;
    }
    &__text {
      max-width: 166px;
      color: #000;
      font-family: Inter400;
      font-size: 18px;
      line-height: 32px;
    }
  }
  &__map {
    width: 705px;
    @media (max-width: 730px) {
      width: 100%;
    }
  }
}
