@use "../global";
@use "../utils/variables" as var;

#profil{
    padding-top: 200px;
}

.profil{
    &__all{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        text-align: center;
    }  
    &__left__img{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        button{
            margin-top: 15px;
            width: 75%;
            padding: 10px;
            background-color: var.$primary-color;
            border-radius: 10px;
            color: black;
            font-size: 24px;
            font-family: Montserrat600;
        }
    }
}

form label,
form label{
    font-size: 24px;
    font-family: Montserrat600;
}

form input,
form input{
    border: 1px solid #DBDEE7;
    border-radius: 10px;
    padding: 10px 50px 10px 10px;
}

input::placeholder{
    color: black;
    font-size: 20px;
}

.input-3,
.input-1,
.input-2,
.password{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.password {
    position: relative;
    i {
        font-size: 25px;
        position: absolute;
        right: 10px;
        top: 38px;
    }
    a{
        font-size: 15px;
        color: var.$primary-color;
        font-family: Montserrat600;
    }
}

@media (min-width: 750px){
    .profil__all{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 200px;
    }
}