.container__1190,
.container__1233 {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container__1190 {
  max-width: 1190px;
}

.container__full {
  max-width: 1520px;
  margin-left: auto;
  margin-right: auto;
}

.container__1233 {
  max-width: 1233px;
}
