@font-face {
    font-family: Montserrat400;
    src: url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat700;
    src: url(../../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat500;
    src: url(../../assets/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat600;
    src: url(../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Inter400;
    src: url(../../assets/fonts/Inter/Inter-Regular.ttf);
}

@font-face {
    font-family: Inter600;
    src: url(../../assets/fonts/Inter/Inter-Bold.ttf);
}